html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.exclamation-icon {
  font-size: 200%;
  position: relative;
  left: -15px;
  top: 1px;
  color: #9d0000 !important;
}

.success-icon {
  font-size: 150%;
  position: relative;
  left: -15px;
  top: -5px;
  color: green !important;
}
/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
